*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
#navbar{
    border: 1px solid red;
    height: 50px;
}
#main{
    border: 1px solid blue;
    width: 85%;
    height: auto;
    margin:20px auto;
}
#trackExp{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}
#trackExp>button{
    height: 40px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid grey;
}
#teammates{
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    margin-left: 67%;
    display: none;
    z-index: 2;
}

#expensesForm{
    border: 1px solid red;
    height: auto;
    display: none;
    background-color: #fff8f1;
    padding: 10px;
}
#expensesForm>div{
    display:flex;
}
#expensesForm>div>div{
    height: auto;
    width: 200px;
    padding: 5px;
}
#expensesForm>div input,select{
    width: 100%;
    height: 40px;
    margin: 2px;
    border-radius: 5px;
}
#expensesForm>div button{
    height: 40px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}

#addedExp{
    border: 3px solid violet;
    height: auto;
}
#addedExp>div:nth-child(2){
    background-color: rgb(238,238,238);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#addedExp>div:last-child{
    margin-left: 47%;
}
#addedExp>#container{
    background-color: #fff1cd;
}
#addedExp>#container>#box{
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box>button{
    width: 50px;
    height: 30px;
    border-radius: 5px;
}