*{
    margin: 0px;
    padding: 0px;
   
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #fff8ef;
}
#spdiv{
   
    height: auto;
    width: 1219px;
    margin: auto;
    height: auto;
}
#splogo{
    width: 132px;
    margin-top: 27px;
}
#secdiv{
    display: flex;
 justify-content: space-around;
}

.sec_1{
    width: 50%;

}
#orangeline{
    color: #fa6811;
    font-weight:bolder;
    font-size: 15px;
    font-family:wt monarch nova;
}

#signupform{
    height: 600px;
    width: 590px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#sp1{
    width: 550px;
}
#company{
    color: #fa6811;
    font-size: 20px;
}
#ccc{
    color: #848586;
}
#hr{
border: .5px solid #fa6811 ;
width: auto;
}
#make1line{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#footimg{
    width: 100%;
}
#getfree{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}
#nocredit{
    color: #737778;
    text-align: center;
    margin-top: 20px;
}
.inputsp{
    height: 48px;
    width: 245px;
    margin-left: 25px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 0.5px solid #737778;
}
#password{
    width: 530px;
}
#createac{
    background-color: #188433;
    width: 540px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}
#privatep{
    color: #737778;
    text-align: center;
    font-size:13px ;
}




